@import "basevalues";

// Formats Horizontal
$WidthHorizontal: 1721px;
$HeightHorizontal: 1217px;

// Formats Vertical
$WidthVertical: 1217px;
$HeightVertical: 1721px;

.horizontal-poster {
    width: $WidthHorizontal / 4;
    height: $HeightHorizontal / 4;
}

.vertical-poster {
    width: $WidthVertical / 4;
    height: $HeightVertical / 4;
}

.project-BG {
    background: url('../galleries/film-festival/Background.jpg') !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
}


.film-festival-1 {
    background: url('../galleries/film-festival/Poster1.jpg') !important;
    background-color: $black !important;
    background-size: contain !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}

.film-festival-2 {
    background: url('../galleries/film-festival/Poster2.jpg') !important;
    background-color: $black !important;
    background-size: contain !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}

.film-festival-3 {
    background: url('../galleries/film-festival/Poster3.jpg') !important;
    background-color: $black !important;
    background-size: contain !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}

.film-festival-4 {
    background: url('../galleries/film-festival/Poster4.jpg') !important;
    background-color: $black !important;
    background-size: contain !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}

.film-festival-5 {
    background: url('../galleries/film-festival/Poster5.jpg') !important;
    background-color: $black !important;
    background-size: contain !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}

.film-festival-6 {
    background: url('../galleries/film-festival/Poster6.jpg') !important;
    background-color: $black !important;
    background-size: contain !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}

.film-festival-7 {
    background: url('../galleries/film-festival/Poster7.jpg') !important;
    background-color: $black !important;
    background-size: contain !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}

.film-festival-8 {
    background: url('../galleries/film-festival/Poster8.jpg') !important;
    background-color: $black !important;
    background-size: contain !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}

.film-festival-9 {
    background: url('../galleries/film-festival/Poster9.jpg') !important;
    background-color: $black !important;
    background-size: contain !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}

.film-festival-10 {
    background: url('../galleries/film-festival/Poster10.jpg') !important;
    background-color: $black !important;
    background-size: contain !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}

.film-festival-11 {
    background: url('../galleries/film-festival/Poster11.jpg') !important;
    background-color: $black !important;
    background-size: contain !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}

.film-festival-12 {
    background: url('../galleries/film-festival/Poster12.jpg') !important;
    background-color: $black !important;
    background-size: contain !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}

.film-festival-13 {
    background: url('../galleries/film-festival/Poster13.jpg') !important;
    background-color: $black !important;
    background-size: contain !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}

.film-festival-14 {
    background: url('../galleries/film-festival/Poster14.jpg') !important;
    background-color: $black !important;
    background-size: contain !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}

.film-festival-15 {
    background: url('../galleries/film-festival/Poster15.jpg') !important;
    background-color: $black !important;
    background-size: contain !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}

.film-festival-16 {
    background: url('../galleries/film-festival/Poster16.jpg') !important;
    background-color: $black !important;
    background-size: contain !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}

.film-festival-17 {
    background: url('../galleries/film-festival/Poster17.jpg') !important;
    background-color: $black !important;
    background-size: contain !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}

@media (min-width: 1024px) {
    .horizontal-poster {
        width: $WidthHorizontal / 3.5;
        height: $HeightHorizontal / 3.5;
    }

    .vertical-poster {
        width: $WidthVertical / 3.5;
        height: $HeightVertical / 3.5;
    }
}

@media (min-width: 1366px) {
    .horizontal-poster {
        width: $WidthHorizontal / 2.5;
        height: $HeightHorizontal / 2.5;
    }

    .vertical-poster {
        width: $WidthVertical / 2.5;
        height: $HeightVertical / 2.5;
    }
}